<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class ="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Quais são as vantagens de ser um cuidador?
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Existem diversos motivos pelos quais vale a pena ser um cuidador de pet. Cuidadores parceiros que passam a integrar a plataforma da Pet Care podem complementar seus rendimentos extras, passeando quando e onde desejarem. A Pet Care também oferece possibilidades de ganhos semanais, além de vantagens como transporte de pet.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Quais são os serviços oferecidos?
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Atualmente nossa plataforma conta com dois tipos de serviço, o de passeio e o trasnporte. No passeio, o dono solicita um serviço pelo APP e o prestador do serviço vai até o local, pega o PET e leva para a caminhada, com um tempo pré determinado. No transporte, o dono escolhe um local de partida e um local de destino, o prestador vai até o local, pega o PET e leva para onde foi determinado pelo dono
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn  btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Como acesso a plataforma da Pet Care?
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        É só baixar o aplicativo, disponível pra Android e iOS. É possível fazer login preenchendo o cadastro na plataforma. Ou acessar www.petcarecompany.com.br.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
    <h2 class="mb-0">
      <button class="btn  btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Posso acompanhar meu pet enquanto ele caminha?
      </button>
    </h2>
  </div>
  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
    <div class="card-body">
      Sim, através do aplicativo da Pet Care você poderá acompanhar do momento em que ele sai de casa até a sua volta, pelo APP da Pet Care.
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header" id="headingFive">
    <h2 class="mb-0">
      <button class="btn  btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Qual a segurança que tenho com a Pet Care?
      </button>
    </h2>
  </div>
  <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
    <div class="card-body">
      Para se cadastrar, sendo cuidador ou não, no cadastro é feita uma serie de perguntas para que possamos realizar a validação de nosso cliente.
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header" id="headingSix">
    <h2 class="mb-0">
      <button class="btn  btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Quais são os requisitos para ser um cuidador?
      </button>
    </h2>
  </div>
  <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
    <div class="card-body">
      Os principais requisitos para ser um cuidaor é: ter mais de 18 anos, ter experiência com pets, ser apaixonado por animais e ter muita energia para brincar e cuidar deles!
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header" id="headingSeven">
    <h2 class="mb-0">
      <button class="btn  btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        Porque devo solicitar um serviço pela Pet Care?
      </button>
    </h2>
  </div>
  <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
    <div class="card-body">
     A Pet Care busca acabar com o problema de deixar seus pets sozinhos em situações de viagens, emergências e rotinas do dia-a-dia, garantindo toda segurança e transparência nos serviços realizados. Aqui você pode escolher, entre os profissionais disponíveis, aquele que mais lhe agrada. Somos loucos por pets, e aqui, a segurança e o amor vem sempre em primeiro lugar!
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header" id="headingEight">
    <h2 class="mb-0">
      <button class="btn  btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
        O que é o serviço de transporte?
      </button>
    </h2>
  </div>
  <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
    <div class="card-body">
      O serviço de transporte da Pet Care é um serviço um pouco diferente. O intuito do transporte é que você possa comparecer em seu compromisso na mesma hora em que seu pet tem um horario marcado no veterinario. Ele será acompanhado pelo cuidador todo o tempo que seu pet ficará fora. O cuidador poderá também fazer contatos com você para enviar fotos, vídeos e tudo que precisar para ficar mais confortável e matar a saudades do pet.
    </div>
  </div>
</div>
</div>
